.headings {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}