.headings {
    font-family: 'Lobster Two', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container input, .container button{
    font-family: 'Merriweather', serif;
    margin: auto 1rem;
}
.photo {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}